.metadata
.metadata/*
RemoteSystemsTempFiles
RemoteSystemsTempFiles/*
DATA_ACCESS_LAYER/RESTfulWebServices/.classpath
DATA_ACCESS_LAYER/RESTfulWebServices/.project
DATA_ACCESS_LAYER/RESTfulWebServices/.settings
DATA_ACCESS_LAYER/RESTfulWebServices/.settings/*
DATA_ACCESS_LAYER/RESTfulWebServices/.settings/org.eclipse.jdt.core.prefs
DATA_ACCESS_LAYER/RESTfulWebServices/target
ECI_APP
MOCK_UPS
SOLUTIO_APP
PLM_APP
