<div id="messaging-container">
	<h1>Messages</h1>

	<div class="htabs">
		<div class="tab">Inbox</div>
		<div class="tab">Sent Messages</div>
		<div class="tab">New Message</div>
	</div>
	<div class="htabs-content">
		<table class="message-inbox">
			<tr>
				<th>From</th>
				<th>Subject</th>
				<th>Received</th>
			</tr>
			<tr>
				<td>John Smith</td>
				<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>Juan dela Cruz</td>
				<td> Praesent tempor lectus vel nisi egestas, pretium vehicula neque aliquam. Maecenas a metus pulvinar...</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>John Smith</td>
				<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>Juan dela Cruz</td>
				<td> Praesent tempor lectus vel nisi egestas, pretium vehicula neque aliquam. Maecenas a metus pulvinar...</td>
				<td>&nbsp;</td>
			</tr>
		</table>
	</div>
</div>