<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">
    <title>InnovateNow</title>
    <link rel="stylesheet" type="text/css" href="/static/<%= grunt.config.get('pkg.name') %>.css"/>
    <!-- <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,700italic|Belgrano|Roboto+Condensed:400,400italic' rel='stylesheet' type='text/css'/> -->
    <!--<script type="text/javascript" src="/static/jsapi.xadada"></script>-->
    <script type="text/javascript" src="/static/jquery-ui.min.js"></script>

  <!--   <script type="text/javascript" src="https://apis.google.com/js/client.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script> -->

    <!--<script type="text/javascript" src="http://platform.linkedin.com/in.js">/*
       api_key: 758c9tb97t13p8
       authorize: true
       */</script>  -->
  </head>
  
  <body ng-app="app">
    <div ng-view></div>
    <script type="text/javascript" src="/static/base64.js"></script>
    <script type="text/javascript" src="/static/modernizr.custom.76400.js"></script>
    <script type="text/javascript" src="/static/moment.js"></script>
    <script type="text/javascript" src="/static/d3.js"></script>
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/tablesorter.min.js"></script>
    <script type="text/javascript" src="/static/vis.js"></script>
    <script type="text/javascript" src="/static/wysiwyg.js"></script>
    <script type="text/javascript" src="/static/bootstrap.js"></script>
    <script type="text/javascript" src="/static/angular.js"></script>
    <script type="text/javascript" src="/static/angular-route.js"></script>
    <script type="text/javascript" src="/static/angular-plugins.js"></script>
    <script type="text/javascript" src="/static/select2.js"></script>
    <script type="text/javascript" src="/static/<%= grunt.config.get('pkg.name') %>.js"></script>
    <script type="text/javascript" src="/static/customscroller.js"></script>
    <script type="text/javascript" src="/static/autogrow-textarea.js"></script>
    <script type="text/javascript" src="/static/html5shiv.js"></script>
    <script type="text/javascript" src="/static/page-slider.js"></script>
    <!--script type="text/javascript" src="/static/rGraph.js"></script-->
    <!--script src="/socket.io/socket.io.js"></script-->
    <script type="text/javascript" src="/static/file-upload.js"></script>
    <script type="text/javascript" src="/static/arbor.js"></script>
    <script type="text/javascript" src="/static/d3timeline.js"></script>
    <script type="text/javascript" src="/static/d3.layout.cloud.js"></script>
    <script type="text/javascript">
        var CKEDITOR_BASEPATH = "/static/";
    </script>
    <script type="text/javascript" src="/static/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/static/URI/URI.js"></script>
    <script type="text/javascript" src="/static/jquery.ui.touch-punch.js"></script>
    <script type="text/javascript" src="/static/angular-file-upload.js"></script>
  </body>
</html>
